<section id="about">
    <div class="about-1">
        <h1>ABOUT US</h1>
        <p>Welcome to Kalakar Art Gallery, a sanctuary for art enthusiasts and creators alike. Our gallery showcases a diverse array of contemporary and classic works, celebrating both emerging and established artists. With a passion for fostering creativity and a commitment to cultural enrichment, we invite you to explore our curated exhibitions, attend engaging events, and discover the transformative power of art. Join us in celebrating the vibrant world of artistic expression.</p>
    </div>
    <div id="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 about-item text-center">
                        <i class="fas fa-bullseye"></i>
                        <h3>MISSION</h3>
                        <hr>
                        <p>"Fostering Creativity, Celebrating Art – Connecting Artists and Audiences with Inspiring Exhibitions and Events."</p>
                    </div>
                    <div class="col-md-4 about-item text-center">
                        <i class="fas fa-eye"></i>
                        <h3>VISION</h3>
                        <hr>
                        <p>"Inspiring a World Where Art Transforms Lives and Connects Communities."</p>
                    </div>
                    <div class="col-md-4 about-item text-center">
                        <i class="fas fa-handshake"></i>
                        <h3>VALUES</h3>
                        <hr>
                        <p>"Integrity, Innovation, Inclusivity – Nurturing Artistic Expression and Community Engagement."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>