<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/slide-3.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Welcome to Our Gallery</h5>
                              <p>Embark on a Journey of Artistic Wonder: Where Every Stroke Tells a Story and Every Hue Sparks Emotion</p>
                              <p><a routerLink="/about" class="btn btn-warning mt-3">Learn More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Discover Our Gallery</h5>
                              <p>Step into a World Where Creativity Knows No Bounds, Where Every Canvas Holds a Universe of Inspiration</p>
                              <p><a routerLink="/about" class="btn btn-warning mt-3">Learn More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide-2.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Experience Our Gallery's Splendor</h5>
                              <p>Where Walls Become Portals to Other Worlds, Where Art is More Than What Meets the Eye</p>
                              <p><a routerLink="/about" class="btn btn-warning mt-3">Learn More</a></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      

</div>

<!-- About section starts -->
<div id="about" class="about section-padding">
    <section id="about" class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img">
                        <img src="assets/images/about section.webp" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text">
                        <h2>Elevating the Extraordinary <br/> Unveiling Kalakar Art gallery's Distinctive Artistic Essence</h2>
                        <p>Welcome to Kalakar Art Gallery, where art meets expression in a captivating dance of creativity. Nestled within these virtual walls, we curate an eclectic ensemble of masterpieces, each brushstroke and sculpture telling its own unique story. Our gallery serves as a sanctuary for both established virtuosos and emerging talents, providing a platform for their voices to resound across the realms of imagination. Step into our digital realm and embark on a journey through the boundless landscapes of artistic ingenuity, where every stroke, hue, and form beckons you to explore the depths of human imagination.</p>
                        <a routerLink="/about" class="btn btn-warning">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
</div>

<!-- Collection section starts -->
<div class="collection section" id="collection">
   
    <section class="collection section-padding" id="collection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Glimps At Our Collection</h2>
                        <p>"At our gallery, we pride ourselves on curating a unique selection of Indian art that celebrates the country's diverse heritage and artistic expression. From showcasing renowned masters to promoting emerging talents, we strive to offer a dynamic range of artwork that captivates and inspires. With a keen eye for quality and a commitment to excellence, we provide art enthusiasts with a curated experience that reflects the richness and depth of Indian artistic traditions. Welcome to a space where every piece tells a story and where art lovers can immerse themselves in the beauty and cultural significance of Indian art."</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="card-area">
                    <div class="wrapper">
                        <div class="box-area"> 
                            <div class="box">
                                <img src="assets/images/Bhaskar-lahiri/indian-folk.jpg" alt="">
                                <div class="overlay">
                                    <h3>Indian Folk </h3>
                                    <p></p>
                                    <a routerLink="/painting">View More</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="assets/images/Bhaskar-lahiri/indian-folk3.jpeg" alt="">
                                <div class="overlay">
                                    <h3>Indian Folk </h3>
                                    <p></p>
                                    <a routerLink="/painting">View More</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="assets/images/vaishali rajapurkar abstract/1588891156DT_Dwelling-Abstract-painting2.jpg" alt="">
                                <div class="overlay">
                                    <h3>Abstract </h3>
                                    <p></p>
                                    <a routerLink="/painting">View More</a>
                                </div>
                            </div>
                        </div>            
                    </div>       
                </div>
            </div>
        </div>
    </section>
       
</div>

<!-- Portfolio section starts -->
<div id="portfolio" class="portfolio section-padding">
    <section id="portfolio" class="portfolio section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Our Artworks</h2>
                        <p>Gallery <br>"Discover Kalakar Art Gallery, your gateway to artistic wonders. Specializing in Indian Artworks, we offer a diverse collection that captures the essence of Indian Art. Step into our world and explore the boundless realms of creativity."



                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4">
                                <img src="assets/images/paintings-home.jpeg" class="img-fluid" alt="">
                            </div>
                            <h3 class="card-title">Painting</h3>
                            <p class="lead">Indian painting,from ancient cave art to contemporary expressions,reflects a rich tradition innovation,diverse styles and themes to tell stories of spirituality, culture change across centuries..</p>
                            <a routerLink="/painting" class="btn bg-warning text-dark">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4">
                                <img src="assets/images/sculpture-home.jpeg" class="img-fluid" alt="">
                            </div>
                            <h3 class="card-title">Sculpture</h3>
                            <p class="lead">Indian sculpture, from old stone carvings to detailed medieval bronzes, reflects India's diverse beliefs and culture through beautiful craftsmanship and meaningful symbols.</p>
                            <a routerLink="/sculpture" class="btn bg-warning text-dark">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4">
                                <img src="assets/images/handicraft-home.jpeg" class="img-fluid" alt="">
                            </div>
                            <h3 class="card-title">Handicrafts</h3>
                            <p class="lead">Indian handicrafts, rooted in tradition and skill, encompass a vibrant array of art forms, from textiles to exquisite metalwork, showcasing India's cultural richness and artistic finesse on a global stage.</p>
                            <a href="/more" class="btn bg-warning text-dark">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>



<!-- Team section starts -->
<div class="team section-padding" id="team">
    <section class="team section-padding" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Our Team</h2>
                        <p>"Meet our dynamic team at Kalakar Art Gallery, where passion meets expertise in the world of fine art. Together, we're redefining artistic excellence."</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="" alt="" class="img-fluid rounded-circle">
                            <h3 class="card-title py-2">Arpita</h3>
                            <p class="card-text"></p>
                            <p class="socials">
                                <i class="bi bi-twitter text-dark mx-1"></i>
                                <i class="bi bi-facebook text-dark mx-1"></i>
                                <i class="bi bi-linkedin text-dark mx-1"></i>
                                <i class="bi bi-instagram text-dark mx-1"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="img/team-2.jpg" alt="" class="img-fluid rounded-circle">
                            <h3 class="card-title py-2">Maithili</h3>
                            <p class="card-text"></p>
                            <p class="socials">
                                <i class="bi bi-twitter text-dark mx-1"></i>
                                <i class="bi bi-facebook text-dark mx-1"></i>
                                <i class="bi bi-linkedin text-dark mx-1"></i>
                                <i class="bi bi-instagram text-dark mx-1"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="Images/gayatri.jpg" alt="" class="img-fluid rounded-circle">
                            <h3 class="card-title py-2">Gayatri</h3>
                            <p class="card-text"></p>
                            <p class="socials">
                                <i class="bi bi-twitter text-dark mx-1"></i>
                                <i class="bi bi-facebook text-dark mx-1"></i>
                                <i class="bi bi-linkedin text-dark mx-1"></i>
                                <i class="bi bi-instagram text-dark mx-1"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="img/team-4.jpg" alt="" class="img-fluid rounded-circle">
                            <h3 class="card-title py-2">Anjali</h3>
                            <p class="card-text"></p>
                            <p class="socials">
                                <i class="bi bi-twitter text-dark mx-1"></i>
                                <i class="bi bi-facebook text-dark mx-1"></i>
                                <i class="bi bi-linkedin text-dark mx-1"></i>
                                <i class="bi bi-instagram text-dark mx-1"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
