body {
    margin-top: 50px; /* Increased margin */
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.p{
    margin-top: 20%;
}