
<h2>Artwork List</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Year</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artwork of artworks">
      <td>{{ artwork.artworkTitle }}</td>
      <td>{{ artwork.price }}</td>
      <td>{{ artwork.year }}</td>
      <td><img [src]="'data:image/jpeg;base64,' + artwork.image" alt="{{ artwork.artworkTitle }}" /></td>
      <td>
        <button (click)="deleteArtwork(artwork.artworkId)">Delete</button> 

        <button (click)="findArtwork(artwork.artworkId)">Search</button> 
        <!-- <button (click)="updateArtwork(artwork.artworkId)">Update</button> -->


      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="artworks && !artworks.length">
  <p>No artworks found.</p>
</div>





































<!-- <h2>Artwork List</h2>
<ul>
  <li *ngFor="let artwork of artworks">
    <h3>{{ artwork.artworkTitle }}</h3>
    <p>Price: {{ artwork.price }}</p>
    <p>Year: {{ artwork.year }}</p> -->
    <!-- <img [src]="'data:image/jpeg;base64,' + artwork.image" alt="{{ artwork.artworkTitle }}" /> -->
    <!-- <button (click)="deleteArtwork(artwork.artworkId)">Delete</button> -->
  <!-- </li>
</ul> -->